
  <div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
      <a class="nav-link active" aria-current="page" href="/browse">BrowseHome</a>
      <!-- <a class="nav-link" href="">
        Sales
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
      </a> -->
      <a class="nav-link" href="">By Category</a>
      <a class="nav-link" href="#">By Location</a>
      <a class="nav-link" href="listings/new">Add Listing</a>
    </nav>
  </div>
  