
<Header>
    <div class="nav-scroller bg-body shadow-sm">
      <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="/profile">Dashboard</a>
        <a class="nav-link" href="/profile/mail">
          Messages
          <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
        </a>
        <a class="nav-link" href="/myListings">My Listings</a>
        <a class="nav-link" href="/profile/edit">My Profile</a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link" href="#"></a>
      </nav>
    </div>
  </Header>
