<%- include('../partials/header') %> 
  <body>

    <br>
    <br>
    <br>

    <main class="form-Listing w-25 m-auto">
      <form action="/listings/new" method="POST">
        <div class="form-floating">
          <input type="name" class="form-control" id="floatingName" name="name"placeholder="Listing Name" required>
          <label for="Name">Listing Name</label>
        </div> 
        <div class="form-floating">
          <input type="location" class="form-control" id="floatingLocation" name="location"placeholder="location" required>
          <label for="Location">Listing Address</label>
        </div>
        <div class="form-floating">
            <input type="tags" class="form-control" id="floatingTags" name="tags" placeholder="Tags help people find your Items" >
            <label for="Tags">Tags</label>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">What are you Listing?</label>
          <textarea class="form-control" name="content" id="Content" rows="3"></textarea>
        </div>
       
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
      </form>
    </main>
  </body>

