<div class="newListing">
    <form method="POST" action="/profile/listings/<%=creatId%>/?_method=PUT">
        <label>Name</label>
        <input type="text" name="name" value="<%= listings.name %>">
        <label>Location</label>
        <input type="text" name="location" value="<%= listings.location %>">
        <label>Tags</label>
        <input type="text" name="tags" value="<%= listings.tags %>">
        <input type="submit">
    </form>
</div>
