nav ul li {
  text-decoration: none;
  display: block;
  margin-right: .3em;
}

h1 {
  text-align: center;
  color: black;
}

.bg-404 {
  display: flex;
  justify-content: center;
}
/* Sticky-footer CSS
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */